/*LINEA DEL SIDEBAR*/
.opcBitácora{
    position: relative;
    bottom: -5px; /* Ajusta el valor para controlar la posición vertical de la línea */
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
    width: 50%; /* Ajusta el valor para controlar la longitud de la línea */
    border-bottom: 2px solid white; /* Cambia el estilo de la línea si es necesario */
    bottom: -2px;
}


body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.container {
    margin: 0 !important;
    width: 100%;
    height: 100vh; /* Ajusta la altura al 100% del alto de la ventana */
    padding-bottom: 52.78%;
    position: relative;
    overflow: hidden;

}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.logoutIcon {
    text-align: center;
    color: white;
    line-height: 1;
    font-size: 50px;
}



.btn-unstyled{
    background-color: transparent;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 90px;
    font-size: 50px;
}

i {
    margin: 0 7px;
}


#sidebarCollapse {
    color: #fff;
    background: transparent;
    outline: none;
    margin: 0 20px;
}

#sidebarCollapse:hover {
    color: #2abdfc;
    background: #fff;
    outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;


}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar {
    min-width: 240px;
    max-width: 240px;
    background: #00A1E6;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
}

#sidebar .sidebar-header{
    text-align: center;
}

#sidebar ul li a{
    padding: 5px;
    text-align: center;
    display: block;
    color: white;
    font-family: AvenirNextCyr-Bold.ttf;
    font-size: 20px;
    text-decoration: none;
    line-height: 43px;
}

.opciones
{
    margin-top: 70px;
}



@media (max-width:800px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left: 0px;
    }
    #sidebarCollapse span{
        display: none;
    }

}

@media (max-width:400px) {
    #sidebar {
        margin-top: -20px;
    }
}

.imgCovao {
    height: 90px;
    width: 170px;
    margin-top: 30px;
}



/*FUENTE DE LETRA*/
@font-face {
    font-family: 'AvenirNextCyr-Bold.ttf';
    src: url('Kenneth/fuentes/AvenirNextCyr-Bold.ttf') format('truetype');
}


.btn-hamburguesa {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 999;
}

.btn-hamburguesa i {
    color: #000;
    font-size: 24px;

}

@media (max-width: 767px) {
    .btn-hamburguesa {
        display: block;
    }
}

/*nuevos estilos para las tablas*/

.table th{
    width: 100vh;
    text-align: center;
    justify-content: center;
}
.table thead{
    text-align: center;
    justify-content: center;
    align-items: center;
}







